/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-spinwheel {
	// background-color: #be6;
	display: flex;
	justify-content:flex-end;
	padding: 1em !important;
}

.wp-block-create-block-spinwheel .spinWheel{
	--wheelSize:20vh;
	width:var(--wheelSize);
	height:var(--wheelSize);
	aspect-ratio: 1 / 1 !important;
	border-radius: 50%;
	display:flex;
	align-items: center;
	justify-content:flex-end;
}


.wp-block-create-block-spinwheel .spinWheel_ball{
	--ballSize:25%;
	width:var(--ballSize);
	height:var(--ballSize);
	border-radius: 50%;

}