/*====
====
====
S-Mobile
====
====
====*/

/*--
--S-Nav info
--
*/

.wp-block-create-block-sidebarnav{
	position: fixed;
	pointer-events: none;
	inset: 0;
	z-index: 10000;
}

.wp-block-create-block-sidebarnav #navInfo{
	position: fixed;
	inset: 0 0 auto 0;
	padding: 1rem;
}

.wp-block-create-block-sidebarnav #navInfo #navName{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.wp-block-create-block-sidebarnav #navInfo #navName h1{
	font-size: 1.75rem;
	margin: 0px;
}

.wp-block-create-block-sidebarnav #navInfo svg{
	height: 1.5rem;
}



.wp-block-create-block-sidebarnav #navTagline .lastName{
	display: none;
}

.wp-block-create-block-sidebarnav #navTagline h2{
	font-size: 1rem;
	margin: 0px;
	font-family:'IBM plex mono';
}
.wp-block-create-block-sidebarnav #navTagline h2:nth-child(3){
	text-align: right;
}


/*--
--S-NaV Menu
--
*/

.wp-block-create-block-sidebarnav .navLinks{
	position: fixed;
	inset: auto 0 0 0;
	pointer-events: all;
}






