/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-messageheader{
	overflow: hidden !important;
	width: 100%;
	height: 100vh;
	position: relative;
	margin-top: 0px !important;

	--gX:50%;
	--gY:50%;

	transition: 0.5s;
}


.wp-block-create-block-messageheader .messageBox{
	position: absolute;
	inset:0;
	display: grid;
	align-content:center;
	padding:1rem;
	transform-origin: var(--gX) var(--gY);
	animation:txtSpin ease-in-out infinite alternate;
	pointer-events: none !important;
}
.wp-block-create-block-messageheader .messageBox h3{
	font-size:inherit;
	margin:0px;
	font-family:'silverknife italic';
	line-height: 0.8;
}

.wp-block-create-block-messageheader .messageBox.m1{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 90%,
		rgba(0,0,0,1) 90%
	);
	animation:none;
}

.wp-block-create-block-messageheader .messageBox.m2{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 80%,
		rgba(0,0,0,1) 80%,
		rgba(0,0,0,1) 90%,
		rgba(0,0,0,0) 90%
	);
	animation-duration: 4s;
}

.wp-block-create-block-messageheader .messageBox.m3{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 70%,
		rgba(0,0,0,1) 70%,
		rgba(0,0,0,1) 80%,
		rgba(0,0,0,0) 80%
	);
	animation-duration: 3.75s;
}
.wp-block-create-block-messageheader .messageBox.m4{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,1) 60%,
		rgba(0,0,0,1) 70%,
		rgba(0,0,0,0) 70%
	);
	animation-duration: 3.5s;
}
.wp-block-create-block-messageheader .messageBox.m5{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 50%,
		rgba(0,0,0,1) 50%,
		rgba(0,0,0,1) 60%,
		rgba(0,0,0,0) 60%
	);
	animation-duration: 3.25s;
}
.wp-block-create-block-messageheader .messageBox.m6{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 40%,
		rgba(0,0,0,1) 40%,
		rgba(0,0,0,1) 50%,
		rgba(0,0,0,0) 50%
	);
	animation-duration: 3s;
}
.wp-block-create-block-messageheader .messageBox.m7{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 30%,
		rgba(0,0,0,1) 30%,
		rgba(0,0,0,1) 40%,
		rgba(0,0,0,0) 40%
	);
	animation-duration: 2.75s;
}
.wp-block-create-block-messageheader .messageBox.m8{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,0) 20%,
		rgba(0,0,0,1) 20%,
		rgba(0,0,0,1) 30%,
		rgba(0,0,0,0) 30%
	);
	animation-duration: 2.5s;
}
.wp-block-create-block-messageheader .messageBox.m9{
	mask-image: radial-gradient(
		circle farthest-side at var(--gX) var(--gY),
		rgba(0,0,0,1) 20%,
		rgba(0,0,0,0) 20%
	);
	animation-duration: 2.25s;
}


.wp-block-create-block-messageheader .porthole{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 3rem 0em 0 0em;
	clip-path: circle(60% at 50% 65%);
	background-color: red;
}




.porthole>figure{
	width: 100%;
	height: 100%;
	margin: 0px !important;
}
.porthole>figure img,
.porthole>figure video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes txtSpin{
	from{
		transform: rotate(-2deg);
	}
	to{
		transform: rotate(2deg);
	}
}


@media(min-width:768px){

	.wp-block-create-block-messageheader .messageBox h3{
		max-width: 50vw;
	}

	.wp-block-create-block-messageheader .porthole{
		inset: 3rem;
		clip-path: circle();
	}
	

}
