/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-li-group {
	color: #000;
	padding:0.25em 0.5em;
	text-decoration: none !important;
}

.wp-block-create-block-li-group p{
	margin: 0;
}

.wp-block-create-block-li-group .platform{
	font-size: 0.8em;
	font-weight: 500;

}
.wp-block-create-block-li-group .handle{
	font-size: 1em;
	font-weight: 700;
	font-style: italic;
}
