<!-- wp:create-block/messageheader {"greeting":"Hey there, lets do something amazing together!","backgroundColor":"Black","textColor":"white","fontSize":"medium"} -->
<!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image -->
<!-- /wp:create-block/messageheader -->

<!-- wp:spacer {"height":"46px"} -->
<div style="height:46px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"landing-intro","className":"Landing-Intro"} /-->

<!-- wp:spacer {"height":"43px"} -->
<div style="height:43px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:create-block/skills {"Skills":"motion design, project management, ui/ux design, front end development, branding \u0026 identity design, creative coding","textColor":"Black","fontSize":"large"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->